<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">

<servlet>
<servlet-class>com.jsp.simple_project_servlet.controller.AddTwoNumber</servlet-class>
<servlet-name> virat </servlet-name>
</servlet>

<servlet-mapping>
<servlet-name>virat</servlet-name>
<url-pattern>/addnumber</url-pattern>
</servlet-mapping>

<!-- employeedetails configration -->

<servlet>
<servlet-class>com.jsp.simple_project_servlet.controller.EmployeeDetails</servlet-class>
<servlet-name>employeeConfigur</servlet-name>
</servlet>

<servlet-mapping>
<servlet-name>employeeConfigur</servlet-name>
<url-pattern>/empDetails</url-pattern>
</servlet-mapping>
</web-app>